body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #393d41;
    line-height: 1.65;
    
    margin: 0 auto;
}


header{
    background-color: black;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}
header img{
    height: 60%;
     width: 60%;
}
main{
    text-align: center;
}

#corsowebdeveloper{
    background-image:url("../images/banner.jpg");
    padding-top: 1em;

    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2em;
}
#corsowebdeveloper p{
    padding-bottom: 1em;
}
/*NON VA*/
.headings{
        color:#25a2c3;
        font-style: bold;
        line-height: 1.5;
        font-family: 'Montserrat', sans-serif;
}
/*NON VA*/
.headings2{
    font-style: bold;
    line-height: 1.5;
        font-family: 'Montserrat', sans-serif;
}
nav{
    display: inline;
    background-color: #f04c2f ;
    width: 30%;
    padding: 1em;
    border-radius: 4px;
}
nav a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}
#maincontent img{
 width: 60%;
 height: 60%;
 border-radius: 200%;
}
#maincontent {
    padding-top: 2em;
    padding-bottom: 2em;

}
#bloccorosso{
    background-color: #d8472d;
    color: white;
    padding-top: 1.7em;
    padding-bottom: 1.7em;

}
#p1{
    font-size: larger;
    padding-bottom: 0;
    margin-bottom: 0;
}
#p2{
    font-size: medium;
    padding-top: 0;
    margin-top: 0;
}
.blocchi{
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    border: 1px solid #dee1e3;
    border-radius: 5px;
}
.blocchi img{
    margin-top: 0;
    margin-left: 0 ;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
}
footer{
    padding-top: 0.5em;
    background-color:#25a2c3 ;
    color: white;
    padding-left: 5rem;
    padding-right: 5rem;
}
footer a{
    color: white;
}
/*footer :last-child non va*/
#lastchild {
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 2em;
    padding-top: 2em;
    border-top: 1px solid white ;
    
}
footer p{
    opacity: 90%;
}
